.header {
  width: 100%;
  background: url("/light-bg.jpg") no-repeat;
  background-size: cover;
  height: 300px;
  max-height: 300px;
}
@media (max-width: 590px) {
  .header {
    height: 200px;
    padding: 0 2rem 0;
  }
}
