form {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  max-height: 64px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}
.input {
  width: 100%;
  font-size: 1.8rem;
  border-radius: 5px;
  padding-left: 2.4rem;
  height: 100%;
  outline: none;
  border: none;
}
.input::placeholder {
  font-size: 1.8rem;
  color: #9495a5;
}

@media (max-width: 590px) {
  form {
    max-height: 48px;
  }
  .input {
    font-size: 1.2rem;
  }
  .input::placeholder {
    font-size: 1.2rem;
  }
}
